@import "tailwindcss";

/* :root {
--ocean-blue: #2E81A9;
  --ocean-sky: #00AEFF;
  --ocean-gradient: linear-gradient(to top, var(--ocean-blue), var(--ocean-sky));
} */

@theme inline {

  --color-primary-dark: #034E72;
  --color-primary: #00AEFF;
  --color-ocean-yellow:#FDCE5C;
  --color-ocean-white:white;
  --color-ocean-skyblue:#E6F6FE;
  --color-secondary:#5C5A5A;
  --text-title:30px;
 


  --bg-ocean-gradient: linear-gradient(to top, var(--color-ocean-blue), var( --color-ocean-sky));


}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
   
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:poppins,sans-serif;
}

@keyframes vertical-scroll {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-50%);
  }
}

.animate-vertical-scroll {
  animation: vertical-scroll 40s linear infinite;
}

/* Pause animation on hover */
.group:hover .animate-vertical-scroll {
  animation-play-state: paused;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
